body {
    background-image: url("../img/machine.jpeg")
}

.jumbotron {
    background-color: #edf9ff;
}

.link{
    border:solid 1px #eee;
    border-radius: 5px;
    background-color:#287563;
    margin-left:5px;
    
    
}
a{
    color:#eee;
}
ul {
    display: flex;
    flex-direction: row-reverse;
}
.row {
    display: flex;
    justify-content: center;
}
.footerText {
   text-align: center;
}
td, th {
    padding: 6px;
}

